.btn, .btn-large, .btn-small , .btn-floating {
    background-color: #747be6;
}
.atributoslogin{
  font-size: 22px;
  color: #000000;


}
.tituloregistromodal{
  font-size: 20px;
  color: #ff1744;
  font-family: fuenteparatitulos;
}
#btncerrar{
  background-color: #e57373 ;
  color: #000000;
  font-family: fuenteparatitulos;

}
#btnaceptar{
  background-color: #00695c;
  color: #FFFFFF;
  font-family: fuenteparatitulos;

}
.tituloregistro{
    font-size: 20px;
    color: #000000;
    font-family: fuenteparatitulos;
}

.tituloparaformulario{
  font-size: 20px;
  color: #000000;

  font-family: fuenteparacuerpo;
}

.atributoscuestionario{
 font-size: 17px;
 color: red;

}
#icono1{
  top: .1rem;
}

#icono2{
  top: .1rem;
}

#icono3{
  top: .1rem;
}

#icono{
  top: .7rem;

}


@media screen and (max-width: 780px) {
  #cambiodetamanio {
    width: 100%;
  }
  #cambiodetamanio2 {
    width: 100%;
  }
  #cambiodetamanio3 {
    width: 100%;
  }
  #cambiodetamanio4 {
    width: 100%;
  }
  #cambiodetamanio5 {
    width: 100%;
  }
  #cambiodetamanio6 {
    width: 100%;
  }
  #cambiodetamanio7 {
    width: 100%;
  }
  #cambiodetamanio8 {
    width: 40%;
    margin-left: 30%;

  }
  #cambiodetamanio9 {
    width: 10%;
  }

  .atributoscuestionario{
 font-size: 18px;
  }

  .tituloregistro{
      font-size: 16px;
      color: #000000;
      font-family: fuenteparatitulos;
  }

  .tituloparaformulario{
    font-size: 18px;
    color: #000000;
    font-family: fuenteparacuerpo;
  }

  #btncerrar{
    width: 100%;
  }

  #btnaceptar{
    width: 100%;
  }

  #cambiodetamanio9{
    width: 100%;
    margin-left: 0%;
  }

  #cambiodetamanio10{
    width: 100%;
  margin-left: 0%;
  }

  #cambiodetamanio11{
    width: 100%;
  margin-left: 0%;
  }

  #cambiodetamanio12{
    width: 100%;
margin-left: -10%;
  }

  #cambiodetamanio {
    width: 100%;
    height: 170px;
  }
  #cambiodetamanio2 {
    width: 100%;
    height: 300px;

  }

  .atributoscuestionario{
   font-size: 18px;

  }

  #paddingdiv{
    margin-left: 14%;

  }

  #paddingdiv2{
    margin-left: 20%;
   }

  #imagenlogo{
    height: 120px;

  }

  #subir{
  position:relative;
  top:-160px;
  }

  #cambiotama2{
  height: 500px;
  }


  .br {
      background-color: #FFF;
  }

  #navesconder{

  }

  #cambiocorreo{
    margin-left: 0%;
    width: 90%;

  }

  #cambiocontrasenia{
    width: 90%;

    margin-left: 0%;
  }

  .titulosform{
    font-size: 19px;
    color: #000000;
  }

  #cambiodetamanio88{
    width: 90%;

    margin-left: 0%;
  }

  #cambiodetamanio89{
    width: 90%;

    margin-left: 0%;
  }

  #cambiodetamanio5{
    width: 100%;

      margin-left: 0%;
  }

}
.icon {
  margin-right: 15px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .icon {
    margin-right: 15px;
    font-size: 35px;
  }
}
