
<ng-container >
  <semovi-card>
    <semovi-card-header>
      <div class="valign-wrapper">
        <div>
          <a class="icon"><i class="material-icons">account_circle</i></a> 
        </div>
        <semovi-card-header-title> Cambio de contraseña </semovi-card-header-title>
      </div>
    </semovi-card-header>
    <semovi-card-body>
      <form class="login-form">
        <div class="row">
          <div class="col s12">
            <div class="input-field col s7 offset-s2" id="cambiodetamanio5">
              <i class="material-icons prefix">person_add</i><br>
              <label class="tituloregistromodal"> Cambio de contraseña</label><br>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12" id="cambiodetamanio5">
            <div class="input-field  col s7 offset-s2" id="cambiodetamanio88">
              <i class="material-icons prefix">lock_outline</i>
              <input id="password" type="password"   [(ngModel)]="password"  name="password" autocomplete="off">
              <label class="tituloparaformulario"  for="password" data-error="wrong" data-success="right">Contraseña</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12" id="cambiodetamanio5">
            <div class="input-field  col s7 offset-s2" id="cambiodetamanio89">
              <i class="material-icons prefix">lock_outline</i>
              <input id="passwordconf" type="password"   [(ngModel)]="passwordconf"  name="passwordconf"  (change)="validPassword()" (ngModelChange)="validPassword()" >
              <label class="tituloparaformulario"  for="passwordconf" data-error="wrong" data-success="right">Confirmar contraseña</label>
            </div>
            <div *ngIf="!valid" class="col s7 offset-s2" id="cambiodetamanio89">
              <label *ngIf="!valid" class="atributoscuestionario">Las contraseñas deben ser iguales </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s10 offset-s2" id="cambiodetamanio9">
            <div class="input-field col s2  offset-s2" id="cambiodetamanio10">
              <a   *ngIf="!valid || password == undefined || passwordconf == undefined"  id="btnaceptar" class="btn waves-effect waves-light disabled">Cambiar contraseña</a>
              <a   *ngIf="valid && password != undefined && passwordconf != undefined" id="btnaceptar" class="btn waves-effect waves-light" (click)="changePassword()">Cambiar contraseña</a>
            </div>
            <div class="input-field col s4 offset-s1" id="cambiodetamanio11">
              <a  id="btncerrar" class="btn modal-close waves-effect waves-light">Cancelar</a>
            </div>
          </div>
        </div>
      </form>
    </semovi-card-body>   
  </semovi-card>
</ng-container>
    