<!-- ejemplo ver modalidad-->
<div class="container">
  <div class="truncate">
    <a class="waves-effect" >Agregar Plantilla</a>
  <div>
</div> 
<a class="waves-effect" (click)="vermodalidad()">Ver Modalidad</a>
<!--lista de plantillas -->
<div class="row">
  <div class="row">
    <table class="striped borde">
      <thead>
        <tr>
          <th>
            <label for="">PLANTILLAS</label>
          </th>
          <th class="left">
              <a class="btn-floating btn-large waves-effect waves-light btn-small red"><i class="material-icons">add</i></a>    
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
             Ejemplo- Taxi Tipo A
          </td>
          <td>
            <a class="btn-floating btn-large waves-effect waves-light btn-small "><i class="material-icons">remove</i></a>    
          </td>
        </tr>
        <tr>
          <td>Taxi tipo B</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <div class="">
    <div class="row">
      <div class="col s6 offset-s3">
        <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit() ">
            <div class="" style="border: 1px solid lightslategray">
                <label>Tipo de Modalidad</label>
                <select [(ngModel)]="modalidad"  class="browser-default" formControlName="id_modalidad" >
                  <option   *ngFor=" let modalidad of modalidades" value="{{modalidad.id}}"> {{modalidad.nombre}}</option>           
                </select>
              </div>
            <br>
          <div class="" style="border: 1px solid blue">
            <label>Total de secciones</label>
            <select formControlName="numeroSecciones" class="browser-default" (change)="totalSecciones($event)">
                <option value=""></option>
                <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
            </select>
          </div>
          <div *ngFor="let seccion of secciones; let i = index">
            <div class="card">
              <div [formGroup]="seccion" class="form-row">
                <p class="card-title">Seccion {{i + 1}}</p>
                <input type="text" name="nameseccion" id="nameseccion" value="" placeholder="Nombre de seccion" formControlName="nombreSeccion">
                <label>Total de propiedades de secciones</label>
                <div class="row">
                  <div class="col s6 offset-3">
                    <select formControlName="numeroPropiedades" class="browser-default" (change)="totalPropiedades($event, i)">
                      <option value=""></option>
                      <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
                    </select>
                  </div>
                </div>
                <div class="" style="margin: 10px; border: 1px solid blue;">
                  <div class="" *ngFor="let propiedad of propiedades(i).controls; let j = index">
                    <div class="" [formGroup]="propiedad">
                      <div class="row">
                        <div class="col s12">
                          <div class="input-field">
                            <input  id="S[{{i}}]-P[{{j}}]-nombre" formControlName="nombre" name="nombrePropiedad" type="text" class="validate">
                            <label for="S[{{i}}]-P[{{j}}]-nombre" >Nombre de la propiedad</label>
                          </div>
                          <label for="">Valor a asignar</label>
                          <select  class="browser-default" formControlName="tipoValor">
                            <option value="texto">Texto</option>
                            <option value="color">Color  </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="col s6 offset-3">
              <a class="waves-effect waves-light btn-small left" (click)="previsualizar()">Previsualizar</a>      
            </div>
          </div>
          <div class="row">
              <button class="waves-effect waves-light btn-small right " type="submit">GenerarPlantilla</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

