<!--listar plantilla -->
<br>
<div class="row lista" style=" margin: 200px; border: 1px solid teal">
        <div class="z-depth-3">
          <table class="highlight ">
            <thead>
              <tr >
                <th>
                  <label class="center">PLANTILLAS</label>
                </th>
                <th class="left">
                    <a class="btn-floating btn-large waves-effect waves-light btn-small red"><i class="material-icons">add</i></a>    
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Ejemplo- Taxi Tipo A </td>
                <td>
                  <a class="btn-floating btn-large waves-effect waves-light btn-small "><i class="material-icons">remove</i></a>    
                </td>
              </tr>
              <tr>
                <td>Taxi tipo B</td>
                <td></td>
              </tr>
            </tbody>
        </table>
     </div>
 </div>
 <div class="row" >
   <div>
    <!--<app-crear-plantilla></app-crear-plantilla>-->
   </div>
 </div>