<ng-container>
  <semovi-card>
    <semovi-card-header>
      <div class="valign-wrapper">
        <semovi-card-header-icon icon="arrow_back"></semovi-card-header-icon>
        <semovi-card-header-title> Vigencias </semovi-card-header-title>       
        <div class=" col s2  right" *ngIf="modalidades">
          <a *ngIf="agregarVisible" [routerLink]="['/aplicacion/vigencias/crear', modalidades.id]" class="btn-floating btn-small waves-effect waves-light red right">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
    </semovi-card-header>
  
    <semovi-card-body>
      <semovi-input-search *ngIf="buscarVisible">
        <input name="filtro" id="filtro" class="browser-default placeholder-fix"
        placeholder="Buscar" type="search" autofocus
        autocomplete="off" [(ngModel)]="filtro">
      </semovi-input-search>
      <semovi-input-options *ngIf="vigenciaVisible"> 
          <label class="left">
            <input class="with-gap" name="group1" type="radio"
            (click)="activeValidities()" checked/>
            <span class="buscadores">Vigencias Activas</span>
          </label>
          <label class="right">
              <input class="with-gap" name="group1" type="radio"
              (click)="allValidities()" />
              <span class="buscadores">Todas las Vigencias</span>
          </label>
        </semovi-input-options>
      <semovi-list >
        
           Agrega  una vigencia
        
        <semovi-item  *ngFor="let vigencia of vigencias">
          <semovi-label class="highlight"> Años vigencia: {{ vigencia.legal_years }}</semovi-label>
          <semovi-label> Años prorroga: {{ vigencia.extension_years }} </semovi-label>
          <semovi-label>
            <a class="right tooltipped" data-tooltip="Modificar Vigencia" [routerLink]="['/aplicacion/vigencias/modificar', vigencia.id]">
              <i class="material-icons">edit</i>
            </a>
          </semovi-label> 
        </semovi-item>       
      </semovi-list>
    

    </semovi-card-body>
  </semovi-card>  
</ng-container>
