<!--Crear Catalogo -->
<ng-container >
  <semovi-card>
    <semovi-card-header>
      <div class="row">
        <div class="col s8 valign-wrapper">
          <semovi-card-header-icon icon="arrow_back"></semovi-card-header-icon>
          <semovi-card-header-title> Crear catálogo </semovi-card-header-title>
        </div>
      </div>
    </semovi-card-header>

    <semovi-body>
      <div class="row">
        <div class="col s12">
          <form [formGroup]="catalogueForm" (ngSubmit)="onPreview()">
            <div class="row valign-wrapper">
              <div class="col s6 left-align">
                <div *ngIf="modalidad">
                  <h5>Catalogo para: {{ modalidad.nombre }}</h5>
                </div>
              </div>
              <div class="col s6 right-align">
                <button (click)="onPreview()" class="btn-small"> Previsualizar </button>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <div class="input-field ">
                  <input id="catalogue_name" type="text" class="validate"
                  formControlName="name"  autocomplete="off">
                  <label for="catalogue_name">Nombre del catálogo</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <div class="">
                  <label for="id_tipo_catalogo">Tipo de catalogo</label>
                  <select class="browser-default" formControlName="id_catalogue_type">
                    <option value="" disabled selected>Elige una opción</option>
                    <option *ngFor="let catalogo of cataloguesTypes" value="{{catalogo.id}}"> {{ catalogo.name }} </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <p>
                  {{catalogueForm.value | json}}
                </p>
              </div>
            </div>
            <div class="row valign-wrapper">
              <div class="col s8">
                <p>Agregar sección</p>
              </div>
              <div class="col s6 right-align">
                <a class="btn-floating btn-large waves-effect waves-light red btn-small red darken-2" (click)="addSection()">
                  <i class="material-icons">add</i>
                </a>
              </div>
            </div>

            <!-- Configuration -->
            <div class="row">
              <div class="col s12">
                <div formArrayName="configuration" *ngFor="let section of configuration.controls; index as i">
                  <div class="card col s10 offset-s1">
                    <div class="row valign-wrapper">
                      <div class="col s6 left-align">
                        <p class="card-title">Panel de configuración</p>
                      </div>
                      <div class="col s6 right-align">
                        <a href="#">Cancelar</a>
                      </div>
                    </div>

                    <!-- Sections -->
                    <div class="" [formGroupName]="i">
                      <div class="row">
                        <div class="col s12">
                          <div class="input-field ">
                            <input id="S[{{i}}]-name" type="text" class="validate"
                              formControlName="name"  autocomplete="off">
                            <label for="S[{{i}}]-name">Titulo de sección</label>
                          </div>
                        </div>
                      </div>

                      <div class="row valign-wrapper">
                        <div class="col s8">
                          <p>Agregar propiedades</p>
                        </div>
                        <div class="col s6 right-align">
                          <a class="waves-effect waves-light btn-small" (click)="addProperty(section)"> Agregar propiedad </a>
                        </div>
                      </div>

                      <div formArrayName="properties" *ngFor="let property of properties(section).controls; index as j">
                        <div class="" [formGroupName]="j">
                          <div class="row">
                            <div class="col m6">
                              <div class="input-field ">
                                <input id="S[{{i}}]-P[{{j}}]-name" type="text" class="validate"
                                  formControlName="name"  autocomplete="off">
                                <label for="S[{{i}}]-P[{{j}}]-name">Nombre de propiedad</label>
                              </div>
                            </div>

                            <div class="col s6">
                              <label for="id_tipo_catalogo">Tipo de propiedad</label>
                              <select class="browser-default" formControlName="propertyType" id="S[{{i}}]-P[{{j}}]-propertyType">
                                <option value="" disabled selected>Elige una opción</option>
                                <option *ngFor="let property of propertyTypes" value="{{property.name}}"> {{ property.name }} </option>
                              </select>
                            </div>
                          </div>

                          <div class="" [ngSwitch]="onChangePropertyType(i, j)">
                            <div class="row">
                              <div class="col s12">
                                  <div *ngSwitchCase="'Color'">
                                    <div class="color-wrapper">
                                      <semovi-color-picker [hue]="hue" (color)="color = $event"></semovi-color-picker>
                                      <semovi-color-picker-slider (color)="hue=$event" style="margin-left:10px"> </semovi-color-picker-slider>
                                    </div>

                                    <div class="">
                                      <input type="text" name="" [value]="color" formControlName="value">
                                      <div class="color-div" [ngStyle]="{'background-color': color || 'white'}"></div>
                                    </div>
                                  </div>

                                  <div *ngSwitchCase="'Texto'">
                                    <div class="input-field ">
                                      <textarea id="S[{{i}}]-P[{{j}}]-value" type="text" class="materialize-textarea"
                                      formControlName="value"  autocomplete="off"></textarea>
                                      <label for="S[{{i}}]-P[{{j}}]-value">Agregue su descripción aquí</label>
                                    </div>
                                  </div>

                                  <div *ngSwitchCase="'Lógico'">
                                    <p>
                                      <label>
                                        <input type="checkbox" formControlName="value"/>
                                        <span>Correcto</span>
                                      </label>
                                     </p>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>



          </form>
        </div>
      </div>
    </semovi-body>
  </semovi-card>

  <!-- MODAL -->
  <div class="">
    <div id="previewModal" class="modal">
      <div class="modal-content" *ngIf="modalidad">
        <h4> Previsualización de catálogo </h4>
        <p> Tipo de modalidad: {{ modalidad.nombre }} </p>

        <div class="row">
          <div class="col s12">
            <h5>Data</h5>
            <span>
              {{ catalogueForm.value | json }}
            </span>
            
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="modal-close waves-effect btn-flat orange-text left"> cerrar </a>
        <button class="waves-effect btn-flat right" (click)="onSubmit()" [disabled]="!catalogueForm.valid"> Guardar </button>
      </div>
    </div>
  </div>
  <!-- MODAL -->
</ng-container>
