<!--Crear Catalogo -->
<ng-container >
  <semovi-card>
    <semovi-card-header>
      <div class="row">
        <div class="col s8 valign-wrapper">  
          <semovi-card-header-icon icon="arrow_back"></semovi-card-header-icon>
          <semovi-card-header-title> Crear catálogo </semovi-card-header-title>
        </div>
      </div>
    </semovi-card-header>
    <semovi-body>
      <form [formGroup]="catalogueForm" (ngSubmit)="createCatalogue()">
<!-- 
        <div>
          <h6   *ngFor="let modalidad of modalidades" formControlName="modality" > {{ modalidad.nombre }} </h6>
        </div> -->

        <div class="input-field">
          <input id="nombre_catalogo" type="text" class="validate"
          formControlName="name_Catalogue"
          valido autocomplete="off">
          <label for="nombre_catalogo">Nombre del catalogo</label>
        </div>

        <div class="">
          <label for="id_tipo_catalogo">Tipo de catalogo</label>
          <select class="browser-default" formControlName="type_Catalogue">
            <option value="" disabled selected>Elige una opción</option>
            <option *ngFor="let catalogo of catalogoTypes" value="{{catalogo.id}}"> {{ catalogo.name }} </option>
          </select>
        </div>

        <div class="row">
          <div class="col s12">
            <button type="submit" class="waves-effect waves-light btn-small right" > Registrar catalogo</button>
          </div>
        </div>
      </form>
      
    </semovi-body>
  </semovi-card>
</ng-container>

