.title-area {
  padding: 20px 10px 0px 10px;
  border-radius: 10px 10px 0 0;
  background-color: #dbdada;
  margin-bottom: 3em;
}

.title-area .icon {
  margin-right: 15px;
  margin-top: 2px;
}

.title-area .title {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
}
