.semovi-header-card {
  padding: 20px 10px 20px 10px;
  border-radius: 10px 10px 0 0;
  background-color: #dbdada;
  margin-bottom: 2em;
}

@media only screen and (max-width: 600px) {
  .semovi-header-card {
    padding: 3px 10px 3px 10px;
    border-radius: 0;
  }
}
