<!--crear  de plantillas -->
<div class="row">
    <div class="row">
        <div class="col s6 offset-s3">
            <form action="" id="form-plantilla">
                <div class=""> 
                    <h6>Modalidad del Vehiculo</h6>
                    <select name="" class="browser-default">
                        <option value="text" ></option>
                    </select>
                </div>
                <div>
                    <h6>Tipo del vehiculo</h6>
                    <select name="tipo" class="browser-default">
                        <option value="text">Tipo A</option>
                    </select>
                </div>
                <div>
                    <h6>Total de Secciones agregar</h6>
                    <select name="secciones" class="browser-default">
                        <option value="">1</option>
                    </select>
                </div>
                <div>
                    <div name="propiedad" >
                        <div>
                            <h6 for="">Propiedad</h6>
                            <select name="propiedad" class="browser-default">
                            <option value="">Nombre propiedad </option>
                            </select>
                            <a class="btn-floating btn-large waves-effect waves-light red btn-small agregarPropiedades"><i class="material-icons">add</i></a>                           
                        </div>
                    </div>
                </div>
                <div>
                    
                </div>
            </form>
        </div>
    </div>
</div>
<!--Agregar más propiedades-->
<div class="row">
    <div>
        <label for="">Nombre de la propiedad:</label>
        <input type="text" value="" placeholder="Nombre de la propiedad" >
        <label for="">Valor:</label>
        <select  class="browser-default">
            <option value="texto">Texto</option>
            <option value="color">Color  </option>
        </select>
    </div>
</div>