.redLabel {
  color: #F00;
}

.greenLabel {
  color: #E96;
}

.concesionCard:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.concesionPointerAllowed:hover {
  cursor: pointer;
}

.concesionPointerNotAllowed:hover, div label {
  cursor: not-allowed
}
