<ng-container>
  <semovi-card>
    <semovi-card-header>
      <div class="valign-wrapper">
        <semovi-card-header-icon urn="/aplicacion/vehiculo" icon="arrow_back"></semovi-card-header-icon>
        <semovi-card-header-title> Selección de plantilla</semovi-card-header-title>
      </div>
    </semovi-card-header>
    <semovi-card-body>
      <div class="row">
        <div class="col s12 cuadro">
          <div class="z-depth-2  item center">
            <a class="waves-effect black-text" (click)="cromaticaCatalogues()"> Cromática</a> 
          </div>      
          <div *ngIf="disabledFisicoMecancia">
            </div> 
            <div class="z-depth-2  item  center ">
              <a class="waves-effect black-text" (click)="fisicoMecanicaCatalogues()">Fisico Mecánica</a>
              <a class=" black-text disabled"  *ngIf="disabledE" >Fisico ssMecánica</a>

            </div> 
                 
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div>
            <label >Cuenta con una plantilla sin Finalizar</label>
            <div *ngIf= "history">
             
              <div class="">
                <semovi-group>
                    <semovi-label> {{history.id}}</semovi-label>
                  </semovi-group>
                <div *ngFor="let seccion of history.review.sections">
                  <span class="uppercase bold">{{seccion.name}}</span> 
                  <div *ngFor="let propiedad of seccion.properties">
                    
                    <div class="row">
                      <div class="col s12">
                        <div class="col s8">
                          <label>
                          <input  id="check" name="check" type="checkbox"  />
                          <span class="letter">{{propiedad.name}} <br></span>
                          </label>
                        </div>
                        <div class="col s4 right">
                          <div  class="colorCuadro" [ngStyle]="{'background-color': true ? propiedad.value  : 'blue'}"></div>
                        </div>
                        <div class="col s12">
                          <div *ngIf="propiedad.propertyType == type" class="text-justify">
                            {{propiedad.value}}
                          </div>  
                        </div> 
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
          
            </div>
          </div>
        </div>
      </div>

    </semovi-card-body>
  </semovi-card>
</ng-container>