<header >
  <nav class="z-depth-2">
    <div class="nav-wrapper white">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a [routerLink]="['/aplicacion/inicio']"><img class="responsive-img logo-semovi" src="assets/images/banner.png"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a class="dropdown-trigger" data-target="dropdown1">
            <label class="">{{user.nombre}} {{user.primer_apellido}} {{user.segundo_apellido}}</label>
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- dropdown -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a [routerLink]="['/aplicacion/catalogo']"><i class="material-icons left">list_alt</i><label class="nombreusuario">Catalogos</label></a></li>
    <li><a (click)="logout()"><i class="material-icons left">exit_to_app</i><label class="nombreusuario">Cerrar sesión</label></a></li>
  </ul>

  <!-- sidenav -->
  <ul id="slide-out" class="sidenav hide-on-large-only">
    <li>
      <div class="user-view">
        <p class="test">
          {{user.nombre}}
          {{user.primer_apellido}} {{user.segundo_apellido}}
        </p>
      </div>
    </li>
    <li class="divider"></li>
    <li><a [routerLink]="['/aplicacion/catalogo']"><i class="material-icons left">list_alt</i>Catalogos</a></li>
    <li><a [routerLink]="['/aplicacion/catalogo']" class="waves-effect" (click)="logout()"><i class="material-icons left">exit_to_app</i>Cerrar sesión</a></li>
  </ul>
</header>

<section class="row">
  <div class="col s12 m10 l8 xl6 offset-m1 offset-l2 offset-xl3 z-depth-3 white container-app">
    <div [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>
</section>
