.logo-semovi{
  max-width: 200px;
  padding-top: 10px;
  padding-left: 10px;
}

.container-app {
  margin-top: 3em;
  border-radius: 10px;
  padding: 20px;
}

nav ul li a, nav a, ul li a, label{
  color: black;
}
