<header >
  <!-- navbar -->
  <div class="navbar-fixed">
    <nav class="z-depth-2">
      <div class="nav-wrapper white">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <a ><img class="responsive-img logo-semovi" src="assets/images/banner.png"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a [routerLink]="['/aplicacion/concesion']">Inicio</a></li>
          <li><a [routerLink]="['/aplicacion/configuracion']" >Configuración</a></li>
          <li>
            <a class="dropdown-menu" data-target="dropdown-menu-options">
              <label class="">{{user.nombre}} {{user.primer_apellido}} {{user.segundo_apellido}}</label>
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li> 
        </ul>
      </div>
    </nav>
  </div>  

  <!-- dropdown -->
  <ul id="dropdown-menu-options" class="dropdown-content">
    <!-- <li>
      <a [routerLink]="['/aplicacion/concesion']">
        <i class="material-icons">home</i> Inicio
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a [routerLink]="['/aplicacion/configuracion']">
        <i class="material-icons">settings_applications</i> Configuración
      </a>
    </li>
    <li class="divider"></li> -->
    <li>
      <a (click)="logout()">
        <i class="material-icons">exit_to_app</i>Cerrar sesión
      </a>
    </li>
  </ul>

  <!-- sidenav -->
  <ul id="slide-out" class="sidenav hide-on-large-only">
    <li>
      <div class="user-view">
        <p class="test">
          {{user.nombre}}
          {{user.primer_apellido}} {{user.segundo_apellido}}
        </p>
      </div>
    </li>
    <li class="divider"></li>
    <li>
      <a [routerLink]="['/aplicacion/concesion']">
        <i class="material-icons">home</i> Inicio
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a [routerLink]="['/aplicacion/configuracion']">
        <i class="material-icons">settings_applications</i> Configuración
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a (click)="logout()">
        <i class="material-icons">exit_to_app</i>Cerrar sesión
      </a>
    </li>
  </ul>
</header>

<semovi-app>
  <semovi-router-outlet> </semovi-router-outlet>
<semovi-app>
