<ng-container>
  <semovi-card>
    <semovi-card-header>
      <div class="valign-wrapper">
        <semovi-card-header-icon urn="/aplicacion/concesion" icon="arrow_back"></semovi-card-header-icon>
        <semovi-card-header-title> Validación de vehículo</semovi-card-header-title>
      </div>
    </semovi-card-header>
  
    <semovi-card-body>
      <semovi-input-search>
          <input name="filtro" id="filtro" class="browser-default placeholder-fix"
          (keydown.enter)="onKeyDown($event)"
          placeholder="Buscar vehículo" type="search" autofocus
          autocomplete="off" [(ngModel)]="filtro">
      </semovi-input-search>
      <semovi-input-options>
        <label class="right">
            <a class="waves-effect waves-light right grey btn-small grey lighten-4 black-text" (click)="buscar()">
                <i class="material-icons right">search</i> Buscar
              </a>  
        </label>
      </semovi-input-options>
      

      <div class="row" *ngIf="loading">
        <div class="col s8 offset-s2">
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </div>
      </div>
      <semovi-list *ngIf="vehiculo">
          <semovi-item
          [ngClass]="{'resultPointerNotAllowed': !permitido(vehiculo), 'resultPointerAllowed': permitido(vehiculo)}"
          (click)="redirect(vehiculo)">
          <semovi-label-group>
            <semovi-label class="highlight">Número de serie</semovi-label>
            <semovi-label class="uppercase"> {{vehiculo.serie}} </semovi-label>
          </semovi-label-group>
          
          <semovi-label-group>
            <semovi-label class="highlight">Número de motor:</semovi-label>
            <semovi-label class="uppercase"> {{vehiculo.id}} </semovi-label>
          </semovi-label-group>

          <semovi-label-group>
            <semovi-label class="highlight">Año modelo:</semovi-label>
            <semovi-label class="uppercase"> {{vehiculo.anioModelo}} </semovi-label>
          </semovi-label-group>
  
          <semovi-label-group *ngIf="vehiculo.numeroEconomico">
            <semovi-label class="highlight">Número economico:</semovi-label>
            <semovi-label class="uppercase"> {{vehiculo.numeroEconomico}} </semovi-label>
          </semovi-label-group>

          <semovi-label-group>
            <semovi-label class="highlight">Tipo:</semovi-label>
            <semovi-label class="uppercase"> {{vehiculo.tipo.nombre}} - {{vehiculo.marca.nombre}} </semovi-label>
          </semovi-label-group>

          <semovi-label-group>
              <semovi-label class="highlight">Estado del vehiculo:</semovi-label>
              <semovi-label class="uppercase" [ngClass]="{
              'redLabel': vehiculo.estatus != 'A',
              'greenLabel': vehiculo.estatus == 'A'
              }"> {{vehiculo.estatus == 'A' ? 'Activo' : 'Bloqueado'}} </semovi-label>
          </semovi-label-group>

          <semovi-label>
            <a *ngIf="permitido(vehiculo)"
              class="btn-floating btn-small waves-effect waves-light pink right" (click)="catalogueSelect()">
              <i class="material-icons">arrow_forward</i>
            </a>
          </semovi-label>
        </semovi-item>
      </semovi-list>
    </semovi-card-body>
    
  
<!-- Modal Structure -->
<div id="validVehiculo" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="input-field col s12 center "*ngIf="vehiculo">
        <span><i class="material-icons">info</i>
          El año del modelo del vehiculo {{vehiculo.anioModelo}} excede a la vigenica asignada.
       
        </span> 
      </div>
      <div *ngIf="vigencias"> {{vigencias.id}}</div>
    </div>    
  </div>

  <div class="modal-footer">
    <a  class="modal-close waves-effect waves-green btn-flat" (click)="returnStart()">Aceptar</a>
  </div>
</div>
  </semovi-card>
</ng-container>

