<div>
  <buscar-concesion (out)="recibirConcesion($event)"></buscar-concesion>

  <div class="row" *ngIf="concesion">
    <div class="col s6 offset-s3">
      <div class="row">
        <div class="col s12">
          <detalle-concesion [concesion]="concesion"></detalle-concesion>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <buscar-vehiculo [concesion]="concesion" (out)="recibirVehiculo($event)"></buscar-vehiculo>
        </div>
      </div>
    </div>
  </div>
</div>
