<div class="row" *ngIf= "catalogo!=undefined">
    <div class="col s8 offset-s2">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Catalogo:  {{catalogo.nombre}} - para: {{catalogo.tipoCatalogo.nombre}}</span>
          
          <p for="">Modalidad: {{catalogo.modalidad.nombre}} </p>
          <div *ngFor="let seccion of catalogo.secciones">
              <h5 class="card-title">Sección:  {{seccion.nombre}}</h5>
              <div *ngFor="let propiedad of seccion.propiedades">
                <p>Propiedad: {{propiedad.nombre}} - {{propiedad.tipoPropiedad.nombre}}</p>
              </div>
          </div>
        </div>
        <div class="card-action">
          <a href="#">Editar</a>
          <a href="#">Eliminar</a>
        </div>
      </div>
    </div>
  </div>

