.semovi-item {
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.semovi-item:hover {
  transform: scale(1.05);
}
.uppercase{
  text-transform: uppercase;
  margin-left: 2px

}
.span{
  font-weight: bold;
  margin-left: 10px
} 
.borde{
  border:lightcyan 1px solid;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.title{
  margin-left: 0px;
  margin-right: 0px
}


.contenedor{
  overflow-y:unset;
  overflow-x: hidden;
  width: auto; 
  height:400px;  
  margin-left: 5px ;
  margin-right: 5px;
  } 
  .contenedor::-webkit-scrollbar-track { 
    -webkit-box-shadow: inset 0 0 6px rgba(7, 90, 44, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5; 
  } 
  .contenedor::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
  } 
  .contenedor::-webkit-scrollbar-thumb {
    border-radius: 10px; 
    background-color: gray ; 
  }

.carousel-slider {
  height: 400px !important;
 
}
.carousel .indicators .indicators-item {
  display: inline-block !important;
  position: relative !important;
  cursor: pointer !important;
  height: 20px !important;
  width: 8px !important;
  margin: 24px 4px !important;
  background-color: black;
  top: 500px !important; 
  -webkit-transition: background-color .3s;
  transition: background-color .3s !important;
  border-radius: 50% !important;
  
}

 
.carousel-indicators .active {
  width: 48px;
  height: 48px;
  margin: 10px;
  background-color: #ffff99;
}


 .carousel-item{ 
  margin-left: 15px !important;
  margin-right: 10px !important; 
  /* word-break: break-all; */
 
} 
.text-content{
  margin-left: auto;
  margin-top: auto;
  align-content: center;
}
.contenedorSecciones{
  /* height: 50px;
  width: 50px;

  text-align: center; */
}
.tamanio{
  right: 100px;
  left: 100px;
  align-content: center;
  border: 1px solid black;
  padding: 10px; 

  
}


@media only screen and (max-width: 600px) {
  .carousel-item {
  height: auto;
  width: auto;
  }   

} 
