<div>
 <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">search</i>
      <input id="buscar_catalogo" type="text" class="buscar"
      autofocus
      style="text-transform: uppercase"
      specialOnly autocomplete="off"
      [(ngModel)]="modelBuscar"
      (ngModelChange)="buscarCatalogo()" name="modelBuscar">
      <label>Buscar Catalogo</label>
    </div>
 </div>

  <div class="row valign-wrapper">
    <div class="col s6">
      <p class="title-component">Cátalogos</p>
    </div>
    <div class="col s6">
      <a class="btn-floating btn-small red darken-2" [routerLink]="['/aplicacion/catalogo/crear']">
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>

  <div>
    <div class="row" *ngFor="let catalogo of catalogos">
      <div class="col s8 offset-s2">
        <div class="row valign-wrapper z-depth-1 item" >
          <div class="col s6">
            <p>{{catalogo.nombre}}</p>
          </div>
          <div class="col s6">
            <a class="btn-floating btn-small"
            [routerLink]="['/aplicacion/catalogo/detalle', catalogo.id ]">
            <i class="material-icons">info</i>
          </a>
        </div>
      </div>
      </div>
    </div>

  <div class="row">
    <div class="col s12">
      <a [routerLink]="['/aplicacion/inicio']">Regresar</a>
    </div>
</div>
