
<div class="row">
    <div class="col s8">
      <table class="highlight">
        <thead>
          <tr>
            <th>
              <h6 for="">CATALOGO</h6>
            </th>
            <th></th>
            <th></th>
            <th>
              <a class="btn-floating btn-small red darken-2" [routerLink]="['/aplicacion/catalogo/crear']">
                <i class="material-icons">add</i>
              </a>
            </th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let catalogo of catalogos">
              <td> {{catalogo.nombre}} </td>
              <td></td>
              <td>
                <a class="btn-floating btn-large waves-effect waves-light btn-small cadetblue" id="" [routerLink]="['/aplicacion/catalogo/detalle', catalogo.id ]" ><i class="material-icons">keyboard_arrow_down</i></a>
              </td>
              <td></td>
            </tr>
          </tbody>
      </table>
    </div>
</div>


  
