<ng-container>
  <semovi-card>
    <semovi-card-header title="Catálogos" icon="arrow_back" urn="/aplicacion/concesion/busqueda" [options]="[
      {
        urn: '/aplicacion/catalogo/crear',
        icon: 'add'
      }
    ]"></semovi-card-header>

    <semovi-card-body>
      <semovi-input-search>
        <input name="filtro" id="filtro" class="browser-default placeholder-fix"
        placeholder="Buscar" type="search" autofocus
        autocomplete="off" [(ngModel)]="filtro">
      </semovi-input-search>

      <semovi-list *ngIf="catalogos">
        <semovi-item *ngFor="let catalogo of catalogos | search: filtro">
          <semovi-label> {{catalogo.nombre}} </semovi-label>
          <semovi-label>
            <a class="btn-floating btn-small right"
            [routerLink]="['/aplicacion/catalogo/detalle', catalogo.id ]">
            <i class="material-icons">info</i></a>
          </semovi-label>
        </semovi-item>
      </semovi-list>
    </semovi-card-body>
  </semovi-card>
</ng-container>
