<ng-container>
  <semovi-card>
    <semovi-card-header>
      <div class="valign-wrapper">
        <semovi-card-header-icon urn="/aplicacion/concesion" icon="arrow_back"></semovi-card-header-icon>
        <semovi-card-header-title> Configuración </semovi-card-header-title>
        
      </div>      
    </semovi-card-header>
    <semovi-card-body>      
      <semovi-input-search>
        <input (window:keydown)="onKey($event)" name="filtro" id="filtro" class="browser-default placeholder-fix"
        placeholder="Buscar" type="search" autofocus
        autocomplete="off" [(ngModel)]="filtro">
      </semovi-input-search>
    
      <semovi-list  >
        <semovi-item *ngFor="let modalidad of modalidades | search: filtro; let i = index">
          <semovi-label> {{modalidad.nombre}} </semovi-label>
            <semovi-label>
              <a class="btn-floating btn-small right"
              [routerLink]="['/aplicacion/catalogo/modalidad', modalidad.id]">
              <i class="material-icons">info</i></a>
          </semovi-label>
        </semovi-item>       
      </semovi-list>
        <!-- <div class=" col s12 scrolls center"> 
          </div> -->
    </semovi-card-body>
  </semovi-card>
</ng-container>

