/* IMPORTS */
@import "../node_modules/ng2-slim-loading-bar/style.css";


/* FONTS */
@font-face {
  font-family: "UniviaPro-Light";
  src: url(./assets/fonts/UniviaPro-Light.ttf);
  color: black;
}

@font-face{
  font-family: "UniviaPro-Bold";
  src: url(./assets/fonts/UniviaPro-Bold.ttf);
}

@font-face {
  font-family: "UniviaPro-Black";
  src: url(./assets/fonts/UniviaPro-Black.ttf);
}

@font-face {
  font-family: "UniviaPro-Ultra";
  src: url(./assets/fonts/UniviaPro-Ultra.ttf);
}


/* GENERAL STYLE  */
body {
  font-family: "UniviaPro-Light";
  background-image: url("./assets/images/background-80.png");
  background-color: #B1AFAF;
}

nav ul li a, nav a, ul li a, label{
  color: black;
}

.redLabel {
  color: #F00;
}

.greenLabel {
  color: #55ab54;
}

input[type=search] {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;

  width: 100%;
  background-color: white;
  color: #8a8a8a;

  background-image: url('/assets/images/search-icon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 16px 16px;

  padding: 10px 10px 10px 40px;
  border: 1px solid rgba(143,141,143,1);
  border-radius: 30px;
  text-transform: uppercase;
}

input[type=search]:focus {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(219,219,219,1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(219,219,219,1);
  box-shadow: 0px 0px 5px 2px rgba(219,219,219,1);
}

.result-card ul li {
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.result-card ul li:hover {
  transform: scale(1.05);
}

.result-card ul li .title {
  font-weight: bold;
  margin-right: 4px;
}

.result-card ul li .info {
  text-transform: uppercase;
}

/* Sidenav Component*/
.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(0,0,0,0);
  z-index: 997;
  display: none;
}
