.redLabel {
  color: #F00;
}

.greenLabel {
  color: #E96;
}

/* Search concesion */
.search-card .search input[type=search] {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;

  width: 100%;
  background-color: white;

  background-image: url('../../../assets/search-icon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 16px 16px;

  padding: 10px 10px 10px 40px;
  border: 1px solid rgba(143,141,143,1);
  border-radius: 30px;
  text-transform: uppercase;
}

.search-card .search input[type=search]:focus {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(219,219,219,1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(219,219,219,1);
  box-shadow: 0px 0px 5px 2px rgba(219,219,219,1);
}



/* Concesion card */
.concesion-card {
}

.concesion-card ul {

}

.concesion-card ul li {
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.concesion-card ul li:hover {
  transform: scale(1.05);
}

.concesion-card ul li .title {
  font-weight: bold;
  margin-right: 4px;
}

.concesion-card ul li .info {
  text-transform: uppercase;
}

.invalid-div {
  transform: rotateX(90deg);
}

.invalid-message {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 1;
  color: red;
}

.concesionPointerAllowed:hover, .concesionPointerAllowed div label {
  cursor: pointer;
}

.concesionPointerNotAllowed:hover, .concesionPointerNotAllowed div label{
  cursor: not-allowed
}
