.redLabel {
  color: #F00;
}

.greenLabel {
  color: #E96;
}

.concesionCard:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.concesionPointerAllowed:hover, .concesionPointerAllowed div label {
  cursor: pointer;
}

.concesionPointerNotAllowed:hover, .concesionPointerNotAllowed div label{
  cursor: not-allowed
}
.buscadorConcesion::content{ 
  border: #0097a7 1px solid; 
}
.busca:hover div i{
  width:500px;
  margin:0 auto;
}
.busca:hover input[ẗype=tex]{
  color:#bcbcbc;
  border:1px solid #acb1b7;
  background-color:#fcfcfc;
}
