<ng-container>
  <div class="search-card">
    <div class="row search">
      <div class="col s12">
        <input name="filtro" id="filtro" class="browser-default placeholder-fix"
        placeholder="Buscar concesión" type="search" autofocus
        autocomplete="off" [(ngModel)]="filtro"
        (ngModelChange)="buscar($event)" >
      </div>
    </div>

    <div class="row options">
      <div class="col s6 left-align">
        <label>
          <input class="with-gap" name="group1" type="radio"
          (click)="cambiarModo(1)" checked/>
          <span class="buscadores">Nombre/Razón social</span>
        </label>
      </div>
      <div class="col s6 right-align">
        <label>
          <input class="with-gap" name="group1" type="radio"
          (click)="cambiarModo(2)"/>
          <span class="buscadores"><label class="buscadores">NUC</label></span>
        </label>
      </div>
    </div>
  </div>

  <div class="progress" *ngIf="loading">
      <div class="indeterminate"></div>
  </div>

  <div *ngIf="concesiones" class="concesion-card">
    <ul>
      <li *ngFor="let concesion  of concesiones" class="row z-depth-2" [ngClass]="{'concesionPointerNotAllowed': !permitido(concesion)}" (click)="redirect(concesion)">
        <div class="col s12">
          <div class="">
            <label class="title"> {{concesion.concesionario.tipoPersona == "F" ? "Nombre: " : "Razón social: "}} </label>
            <label class="" *ngIf="concesion.concesionario.tipoPersona=='F'">{{concesion.concesionario.nombre}} {{concesion.concesionario.primerApellido	}} {{concesion.concesionario.segundoApellido}}</label>
            <label class="" *ngIf="concesion.concesionario.tipoPersona=='M'">{{concesion.concesionario.razonSocial}} </label>
          </div>

          <div class="">
            <label class="title">NUC:</label>
            <label class=""> {{concesion.nuc}}</label>
          </div>

          <div class="">
            <label class="title">Localidad:</label>
            <label class=""> {{concesion.concesionario.localidad.nombre}}</label>
          </div>

          <div class="">
            <label class="title">Municipio:</label>
            <label class=""> {{concesion.concesionario.localidad.municipio.nombre}}</label>
          </div>

          <div class="">
            <label class="title">Modalidad:</label>
            <label class="" [ngClass]="{
              'greenLabel': concesion.modalidad.nombre === 'TAXI'||'ACARREO DE AGUA'
            }"> {{concesion.modalidad.nombre}}</label>
          </div>

          <div class="">
            <label class="title">Estado de concesión: </label>
            <label [ngClass]="{
              'redLabel': !concesion.condiciones.vigente,
              'greenLabel': concesion.condiciones.vigente
            }"> {{concesion.condiciones.vigente ? 'Vigente' : 'Vencida'}} </label>
          </div>

        </div>
      </li>
    </ul>
  </div>
</ng-container>
